* {
    margin: 0PX;
    padding: 0PX;
}

body {
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-size: cover;
    background-color: black;
}
.head{
    display: flex;
    align-items: center;
}

#heading {
    color: black;
    font-size: 2rem;
    font-family: "Baskervville SC", serif;
    font-weight: 650;
    font-style: normal;
}

#heading:hover {
    transform: scale(1.03);
}
.container {
    max-width: 100%;
}
a {
    font-family: "Baskervville SC", serif;
    font-weight: 200;
    font-style: normal;
}

.header {

    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f3f2f2fb;
}

.menu img{
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu a {
    color: #1d0a0a;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    gap: 40px;
}

.menu a:hover {
    color: rgb(163, 52, 52);
}
.details .icon {
    display: none;
}
h3 {
    color: white;
    font-size: 25px;
    padding: 25px;
}
h1,
h2 {
    color: white;
    font-size: 15px;
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    margin-top: 10px;
}

h1:hover {
    transform: scale(1.01);
    color: rgb(39, 39, 116);
}


#bangles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 35px;
}

.bangles-item {
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}

.bangles-item img {
    border-radius: 5px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    margin: 0;
    margin-right: 26px;
}

.bangles-item img:hover {
    transform: scale(1.03);
}

.bangles-item h3 {
    font-size: 15px;
}

.bangles-item button {
    padding: 6px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 6px;
    color: rgb(86, 37, 37);
    background-color: #ede0e0c1;
    align-items: center;
    cursor: pointer;
}

.bangles-item button:hover {
    transform: scale(1.06);
}x

.box1 .bangles {
    width: 250px;
    padding: 15px 0;
    margin: 15px 0;
    text-align: center;
}

.bangles img {
    border-radius: 10px;
    cursor: pointer;
}

.bangles img:hover {
    transform: scale(1.02);
}

.popup1 {
    display: none;
    background: #dcdbdb91;
    background-position:fixed;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.popup1 .popup-wrapper {
    display: flex;
    /* margin: 100px 150px 150px 150px; */
    gap: 60px;
    min-height: 70vh;
    width: 100%;
    border-radius: 5px;
    background-color: #171616;
    border: 1px solid #212020;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.popup2 {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    min-height: 100vh;
    background: #dcdbdbb3;
    justify-content: center; 
    align-items: center;
    z-index: 9999; 

}

.popup-wrapper2 {
    /* background-color: #fff;  */
    padding: 20px;
    background-color: #171616;
    border-radius: 10px;
    z-index: 9999;
    width: 380px; 
    min-height: 50vh;
    display: flex;
    justify-content: center;

}
.customerData{
    align-items:center;
}
.customerData input{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 0;
    padding: 6px;
    margin-top: 20px;
 
}
.customerData button{
    width: 265px;
    height: 35px; 
    padding: 6px;
    margin-top: 20px;
    background-color: rgb(71, 235, 71);
    border-radius: 5px;
    cursor: pointer;
}
.customerData label{
    color: white;
}
.close1{
    margin: 0;
    cursor: pointer;
}
.img{
    margin-top: 30px;
    margin-left: 70px;
}
.img_details{
    margin-top: 25px;
}
.img_details h1{
    color: white;
    font-size: 20px;
    padding: 10px;
}
.img_details h5{
    color: white;
    font-size: 15px;
    padding: 10px;
}
.img_details p{
    color: white;
    font-size: 10px;
    font-family: "Roboto", serif;
    font-weight: 100;
    padding: 15px;
}
.img_details button{
    padding: 8px 10px;
    font-size: 15px;
    width: 80%;
    border-radius: 2px;
    border: 0;
    margin: 10px;
    color: rgb(86, 37, 37);
    background-color: #ede0e0c1;
    cursor: pointer;
}
.img_details button:hover {
    transform: scale(1.05);
}

.img_details .cart {
    background-color: white;
    color: black;
}
.close{
    margin-top: 20px;
    margin-right: 30px;
    cursor: pointer;
}



.footer {
    background-color: rgb(130, 110, 110);
    border-radius: 5px;
    padding: 10px 15px;
    min-height: 100px;
    margin-top: 20px;
}

.footer h4 {
    color: white;
    font-size: 1rem;
    margin-left: 40px;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 40px; */
}

.data a {
    text-decoration: none;
    color: white;
    font-size: 1rem ;

}

.info {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .header {
     max-width: 100%;
     width: 100%;
        padding: 20px;
        height: 50px;
    }

    #heading {
        font-size: 25px;
    }

    .menu {
        display: none;
        flex-direction: column;
    }

    .details .responsive {
        display: flex;
        text-align: right;
    }

    .details .icon {
        display: block;

    }
    .details .menu {
        display: none;
    }

    .details.responsive .menu {
        display: block;
        text-align: center;
        position: absolute;
        padding: 1px 15px;
        background-color: #fff;
        border-radius: 4px;
        top: 50px;
        right: 0;
        z-index: 1;
    }

    .details.responsive .menu a {
        display: block;
        color: #000;
    }

    .details.responsive {
        display: flex;
    }

    .details.responsive {
        display: block;
        text-align: left;
        position: absolute;
        padding: 15px;
        background-color: #fff;
        border-radius: 4px;
        top: 50px;
        right: 0;
        z-index: 1;
    }

    .details.responsive a {
        display: block;
        color: #171616;
       
        padding: 15px;

    }


    .box1 {
        max-width: 100%;
        padding: 20px;
    }
    .bangles-item{
        align-items: center;
       max-width: 100%;
       width: 350px;
    }
    .bangles-item img{
        align-items: center;
        width: 300px
    }
   

    .bangles h1,
    h2,
    button {
       
        align-items: center;
    }
    .popup1 {
        width: 100%;
       
    }

    .popup-wrapper {
        max-width: 100%;
        width: 100%;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     text-align: center;
    }
    .popup-wrapper img {
        width: 50%;
        
    }
    .popup-wrapper .close{
        width: 100px;
       margin-left: 150px;
       margin-bottom: 40px;
    }


    .footer {
        padding: 10px;
        max-width: 100%;
    }
    .data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
   .wrapper h4{
    text-align: center;
   }

}