* {
    margin: 0PX;
    padding: 0PX;
}

body {
    background-color: white;
    font-family: "Montserrat", serif;
}


.common-head {
    min-height: 120px;
}

.head {
    display: flex;
    align-items: center;
}


.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-28 {
    font-size: 28px;
}

.font-32 {
    font-size: 32px;
}

.text-grey {
    color: #848484;
}


.text-black {
    color: #000;
}

.logo_size {
    width: 100px;
    height: 92px;
}

.bg-gold {
    background-color: #FFD700;
}

.head-border {
    border-bottom: 8px solid #ffd700;
    max-width: 70px;
}

.card-border-radius {
    border-radius: 8px;
}

.j-c-img {
    height: 250px;
    object-fit: cover;
}

.card-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 20px #0000000a;
    border: 1px solid #e1e1e1;
}

.cart-img-wrapper {
    object-fit: cover;
    max-width: 150px;
    max-height: 150px;
    border-radius: 12px;
    overflow: hidden;
}

.cart-img-wrapper img {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    border-radius: 12px;
    object-fit: cover;
}

.box1 .cart-item {
    width: 250px;
    padding: 15px 0;
    margin: 15px 0;
    text-align: center;
}

.cart-item {
    /* margin-left: 100px; */
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    /* text-align: center; */
    padding: 20px 25px;
}

.cart-item button {
    width: 30px;
}

.cart-item img {
    width: 150px;
    border-radius: 5px;
    border: 1px solid black;
}

.cartBtn {
    width: 180px;
    height: 44px;
    cursor: pointer;
    background-color: rgb(103, 172, 103);

}
.cartBtn:hover {
    background-color: rgb(103, 172, 103);

}
.btnQ{
    border-radius: 5px;
}

    .nav-link{
        cursor: pointer;
    }
@media only screen and (max-width: 767px) {

    .logo_size {
        width: 60px;
        height: 53px;
    }

    .font-18 {
        text-align: center;
    }

    .common-head {
        min-height: 70px;
    }

    .container {
        text-align: center;
    }

    .box1 {
        text-align: center;
    }

    .cartBtn {
        max-width: 100%;
        width: 200px;
        padding: 10px;
    }



}