* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: "Montserrat", serif;
}


.common-head {
    min-height: 120px;
}

.head {
    display: flex;
    align-items: center;
}


.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-28 {
    font-size: 28px;
}

.font-32 {
    font-size: 32px;
}

.text-black {
    color: #000;
}

.text-grey {
    color: #848484;
}

.logo_size {
    width: 100px;
    height: 92px;
}

.about {
    text-align: center;
}

.nav-link{
    cursor: pointer;
}



.footer {
    background-color: black;
    border-radius: 5px;
    padding: 15px;
    min-height: 100px;
}

.footer h4 {
    color: white;
    font-size: 1.5rem;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.data p {
    color: white;
}

.info {
    display: flex;
    justify-content: space-between;
}

.socialMedia {
    border: 1px solid rgb(115, 93, 93);
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
    padding: 5px;
    color: white;
}

.socialImg {
    display: flex;
    gap: 15px;
    cursor: pointer;
}


@media only screen and (max-width: 767px) {

    .logo_size {
        width: 60px;
        height: 53px;
    }

    .font-18 {
        text-align: center;
    }

    .common-head {
        min-height: 110px;
    }


}