* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(52, 50, 50);
}

.container {
    max-width: 100%;
}

#heading {
    color: black;
    font-size: 2.5rem;
    font-family: "Baskervville SC", serif;
    font-weight: 650;
    font-style: normal;
}

#heading:hover {
    transform: scale(1.03);
}

a {
    font-family: "Baskervville SC", serif;
    font-weight: 200;
    font-style: normal;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;

}

.details img {
    cursor: pointer;
}

.head {
    display: flex;
    align-items: center;
}

.details {
    display: flex;
    align-items: center;
    gap: 25px;
}

.details a {
    color: #1d0a0a;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    gap: 40px;
}

.details a:hover {
    color: rgb(163, 52, 52);
}

.about {
    color: white;
    padding: 20px 20px;
    text-align: center;
}

.about h2 {
    font-size: 2.3rem;
}

.about p {
    padding: 5px;
    margin-top: 10px;
    font-size: 1.2rem;
}
.describe p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 18px;
}

.describe h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

@media only screen and (max-width: 767px) {

    .container {
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .header {
        max-width: 100%;
        width: 100%;
        padding: 20px;
        height: 50px;
    }
    #heading {
        font-size: 25px;
    }

    .head-icons {
        margin-right: 15px;
    }

    .toggle {
        margin-right: 10px;
    }

    .details {
        display: none;
        flex-direction: column;
    }

    .details .responsive {
        display: flex;
        text-align: right;
    }

    .icon {
        display: block;

    }
    .about h2,p{
        font-size: 45px;
    }
    .describe h1{
        font-size: 50px;
        text-align: center;
    }
    .describe p{
        font-size: 25px;
    }



}