* {
    margin: 0PX;
    padding: 0PX;
}

body {
    font-family: "Montserrat", serif;
}

.common-head {
    min-height: 120px;
}

.head {
    display: flex;
    align-items: center;
}


.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-28 {
    font-size: 28px;
}

.font-32 {
    font-size: 32px;
}

.text-black {
    color: #000;
}

.logo_size {
    width: 100px;
    height: 92px;
}

.bg-gold {
    background-color: #FFD700;
}

.head-border {
    border-bottom: 8px solid #ffd700;
    max-width: 70px;
}

.card-border-radius {
    border-radius: 8px;
}

.j-c-img {
    height: 250px;
    object-fit: cover;
}

/* .head{
    display: flex;
    align-items: center;
}

#heading {
    color: black;
    font-size: 2rem;
    font-weight: 650;
    font-style: normal;
}

#heading:hover {
    transform: scale(1.03);
}

a {
    font-weight: 200;
    font-style: normal;
}
.container {
    max-width: 100%;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu img{
    cursor: pointer;
}

.menu a {
    color: #1d0a0a;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    gap: 40px;
}
.menu a:hover,
.menu a.active{
    color: rgb(163, 52, 52);
}
.details .icon {
    display: none;
}
h3 {
    color: white;
    font-size: 25px;
    padding: 20px;
}

#earring-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0 25px;
}

.earrings-item {
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}

.earrings-item img {
    border-radius: 5px;
    width: 250px;
    height: 250px;
    cursor: pointer;
 
}

.earrings-item img:hover {
    transform: scale(1.03);
}

.earrings-item h3 {
    font-size: 15px;
}

.earrings-item button {
    padding: 6px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 6px;
    color: rgb(86, 37, 37);
    background-color: #ede0e0c1;
    align-items: center;
    cursor: pointer;
}

.earrings-item button:hover {
    transform: scale(1.06);
} */

.box1 .earrings {
    width: 250px;
    padding: 15px 0;
    margin: 15px 0;
    text-align: center;
}

.earrings img {
    border-radius: 10px;
    cursor: pointer;
}

.earrings img:hover {
    transform: scale(1.01);
}

.buynow {
    padding: 6px;
    border-radius: 8px;
    border: 0;
    margin: 6px;
    color: rgb(86, 37, 37);
    background-color: #ede0e0c1;
    cursor: pointer;

}


.popup1 {
    display: none;
    background: #dcdbdb91;
    background-position: fixed;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.popup1 .popup-wrapper {
    display: flex;
    /* margin: 100px 150px 150px 150px; */
    margin: 0 auto;
    gap: 60px;
    min-height: 70vh;
    width: 100%;
    max-width: 990px;
    border-radius: 5px;
    background-color: #171616;
    border: 1px solid #212020;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: relative;
}

.popup2 {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: #dcdbdbb3;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.popup-wrapper2 {
    padding: 20px;
    background-color: #171616;
    border-radius: 10px;
    z-index: 9999;
    width: 380px;
    min-height: 50vh;
    display: flex;
    justify-content: center;

}

.customerData {
    align-items: center;
}

.customerData input {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 0;
    padding: 6px;
    margin-top: 20px;

}

.customerData button {
    width: 265px;
    height: 35px;
    padding: 6px;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(71, 235, 71);
    border-radius: 5px;
}

.customerData label {
    color: white;
}

.close1 {
    margin: 0;
    cursor: pointer;
}

.img {
    margin: 0 auto;
    cursor: pointer;
    margin-top: 25px;
}

.img_details {
    margin: 0 auto;
}

.img_details h1 {
    color: white;
    font-size: 22px;
    padding: 10px;
}

.img_details h5 {
    color: white;
    font-size: 15px;
    padding: 15px;
}

.img_details p {
    color: white;
    font-size: 17px;
    font-weight: 100;
    padding: 15px;
}

.img_details button {
    padding: 8px 10px;
    font-size: 15px;
    width: 60%;
    border-radius: 2px;
    border: 0;
    margin: 10px;
    color: rgb(86, 37, 37);
    background-color: #ede0e0c1;
    cursor: pointer;
}

.img_details button:hover {
    transform: scale(1.05);
}

.img_details .cart {
    background-color: white;
    color: black;
}

.close {
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}
.last_para p{
    color: black;
}

.footer {
    background-color: black;
    border-radius: 5px;
    min-height: 100px;
}

.footer h4 {
    color: white;
    font-size: 1.5rem;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data a {
    text-decoration: none;
    color: white;
    font-size: 15px ;
}

.info {
    display: flex;
    justify-content: space-between;
}
.socialMedia{
    border: 1px solid rgb(115, 93, 93);
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
    padding: 5px;
}
.socialImg{
    display: flex;
    gap: 15px;
    cursor: pointer;
}
.nav-link{
    cursor: pointer;
}

.cusName {
    border: 1px solid #cacaca;
    border-radius: 4px;
    height: 36px;
}


@media only screen and (max-width: 767px) {
   
    .logo_size {
        width: 60px;
        height: 53px;
    }
    .common-head {
        min-height: 70px;
    }
    .font-18{
        text-align: center;
    }
    .last_para{
        text-align: center  ;
    }
    
    .footer {
        max-width: 100%;
    }
    .data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; 
    }
   .wrapper h4{
    text-align: center;
   }

}