* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", serif;
}

.common-head {
    min-height: 120px;
}

.head {
    display: flex;
    align-items: center;
}


.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-28 {
    font-size: 28px;
}

.font-32 {
    font-size: 32px;
}

.text-black {
    color: #000;
}

.logo_size {
    width: 100px;
    height: 92px;
}

.bg-gold {
    background-color: #d3a34c;
}

.head-border {
    border-bottom: 8px solid #d3a34c;
    max-width: 70px;
}

.card-border-radius {
    border-radius: 8px;
}

.j-c-img {
    height: 250px;
    object-fit: cover;
}

.customerData {
    align-items: center;
}

.customerData label {
    color: white;
    margin-top: 20px;
}

.customerData input {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 0;
    padding: 6px;
    margin-top: 20px;
}

.customerData button {
    width: 265px;
    height: 35px;
    padding: 6px;
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(71, 235, 71);
    border-radius: 5px;
}

.close1 {

    cursor: pointer;
}

.img_details {
    margin: 0 auto;
}

.img {
    margin: 0 auto;
    cursor: pointer;
    margin-top: 25px;
}

.img_details h1 {
    color: white;
    font-size: 22px;
    padding: 10px;
}

.img_details h5 {
    color: white;
    font-size: 15px;
    padding: 10px;
}

.img_details p {
    color: white;
    font-size: 17px;
    /* font-family: "Roboto", serif; */
    font-weight: 100;
    padding: 15px;
}

.img_details button {
    padding: 8px 10px;
    font-size: 15px;
    width: 60%;
    border-radius: 2px;
    border: 0;
    margin: 10px;
    color: rgb(86, 37, 37);
    background-color: #ede0e0c1;
    cursor: pointer;
}

.img_details button:hover {
    transform: scale(1.05);
}

.img_details .cart {
    background-color: white;
    color: black;
}

.close {
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;

}

.last_para p {
    color: black;

}

.footer {
    background-color: black;
    border-radius: 5px;
    min-height: 100px;
}

.footer h4 {
    color: white;
    font-size: 1.5rem;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.data p {
    color: white;
}

.info {
    display: flex;
    justify-content: space-between;
}

.socialMedia {
    border: 1px solid rgb(115, 93, 93);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    color: white;
}

.socialImg {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
}
.cusName {
    border: 1px solid #cacaca;
    border-radius: 4px;
    height: 36px;
}
@media only screen and (max-width: 767px) {
    .logo_size {
        width: 60px;
        height: 53px;
    }

    .common-head {
        min-height: 70px;
    }

    .last_para {
        text-align: center;
    }

    .footer {
        max-width: 100%;
    }

    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .wrapper h4 {
        text-align: center;
    }

}